/* Global Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #1E3A8A, #3A1E68, #6B21A8);
    color: #ffffff;
    text-align: center;
    overflow-x: hidden;
}

header {
    background: #1E3A8A;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.logo-container {
    display: flex;
    align-items: center;
}

.header-logo {
    max-width: 40px;
    margin-right: 10px;
}

header a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
}

header a:hover {
    color: #FFD700;
}

.center-nav {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.language-selector select {
    padding: 0.5rem 1rem;
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #1E3A8A;
    color: #ffffff;
}

.hero-title {
    font-size: 10rem;
    font-weight: bold;
    color: #FFFFFF;
    font-family: 'Permanent Marker', cursive;
    transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
    cursor: pointer;
}

.cookie {
    position: absolute;
    width: 50px;
    height: 50px;
    background-image: url('Biscuit1.png');
    background-size: cover;
    background-repeat: no-repeat;
    animation: fall linear, spin infinite linear;
}

@keyframes fall {
    from {
        top: -10%;
    }
    to {
        top: 110%;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

footer {
    background: transparent;
    color: white;
    text-align: center;
    padding: 1rem 0;
}
